# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Automotive Integration for AutoSD project
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************
[Unit]
Description=Mount shared volume 'host' to /mnt/esdv-blueprint
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/bash /usr/bin/esdv-check-blueprint-vol
ExecStartPre=mkdir -p /mnt/esdv-blueprint
ExecStart=mount -t virtiofs host /mnt/esdv-blueprint
ExecStop=umount -l /mnt/esdv-blueprint

[Install]
WantedBy=multi-user.target
