[Unit]
Description=Mount shared volume 'host' to /mnt/esdv-blueprint
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/usr/local/bin/esdv-check-blueprint-vol
ExecStartPre=mkdir -p /mnt/esdv-blueprint
ExecStart=mount -t virtiofs host /mnt/esdv-blueprint
ExecStop=umount -l /mnt/esdv-blueprint

[Install]
WantedBy=multi-user.target
